<div class="page">
  <div class="page-title">
    <h1 class="title">Tic Tac Toe</h1>
  </div>

  <div class="page-round">
    <div class="round-block">
      <p class="round-text">Round <span class="round-counter">{{currentRound()}}</span></p>
    </div>
  </div>

  <div class="page-reset">
    <div class="reset-block"><img width="32px" height="32px" src="assets/icon-reset.png" alt="Reset"></div>
  </div>

  <div class="page-player1"><app-player [playerData]="player1Data"></app-player></div>

  <div class="page-game"><app-grid></app-grid></div>

  <div class="page-player2"><app-player [playerData]="player2Data"></app-player></div>

  <div class="page-turn">
    <div class="turn-block">
      <span *ngIf="currentPlayer() === 'player_0'" class="turn-player">Joueur 1</span>
      <span *ngIf="currentPlayer() === 'player_1'" class="turn-player">Joueur 2</span>
    </div>

  </div>
</div>